 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
  padding-top: 70px;
   background: #e3e3e3;
 }

 .error {
   color: red;
   font-style: italic;
   font-size: .9em;

 }
.user-dropdown {
  .nav-gravatar {
    float: right;
    position: relative;
    top: -6px;
    left: -0px;
    border: 1px solid #555;
  }

}

.avatar {
  border-radius: 50%;
}


 .status-media {

   border: 1px solid #e3e3e3;
   background: white;
   padding: 1em;
   margin-bottom: 2em;
 }

 //Users list
 .users {
   margin-bottom: 3em;
 }
 .user-block {
   text-align: center;
   .avatar {
     margin: auto;
   }
 }

