 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
  padding-top: 70px;
 }

 .error {
   color: red;
   font-style: italic;
   font-size: .9em;

 }

 .nav-gravatar {

   float: left;
   position: relative;
   top: -6px;
   left: -0px;
   border: 1px solid #555;
 }